<aside class="d-flex h-100">
    <div class="project">

        <label for="primaryNav">
            <span class="icon icon-menu"></span>
        </label>
        <a class="d-flex flex-grow-1 content-center align-items-center title" href="#">
            <h2 class="nav-text">Menu</h2>
        </a>

    </div>
    <!-- Profile -->
    <section class="nav-menu">
        <div class="d-flex align-items-center figure">
            <img src="assets/img/photo_2022-02-17_00-31-37.jpg" alt="Profile Picture">
            <div class="d-flex content-center flex-col nav-text legend">
                <span><b>Mrunal</b></span>
                <p class="mb-0">mrunalpatel@1rivet.com</p>
            </div>
        </div>
        <nav class="overflow-vertical" id="sidebarMenu">
            <ul class="nav-1 sidebarMenu ps-0">
                 <li>
                    <a class="d-flex align-items-center" routerLink="medify/project">
                        <span class="icon icon-assessment"></span>
                        <span class="nav-text">Medify</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="userform/viewform">
                        <span class="icon icon-assessment"></span>
                        <span class="nav-text">Assessment</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="users/users-list">
                        <span class="icon icon-users"></span>
                        <span class="nav-text">Users</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="/viewer">
                        <span class="icon icon-resume1"></span>
                        <span class="nav-text">Resume Builder</span>
                    </a>
                </li>
            </ul>
            <ul class="nav-2 sidebarMenu ps-0">
                <li>
                    <a class="d-flex align-items-center" routerLink="trial/trial">
                        <span class="icon icon-trial"></span>
                        <span class="nav-text">Bar</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="todo">
                        <span class="icon icon-drag"></span>
                        <span class="nav-text">Drag & Drop</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="mentor">
                        <span class="icon icon-mentors"></span>
                        <span class="nav-text">Mentors</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="bind">
                        <span class="icon icon-bind"></span>
                        <span class="nav-text">Bind</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="mvppractice">
                        <span class="icon icon-practice"></span>
                        <span class="nav-text">Practice</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="mvp">
                        <span class="icon icon-file-bird"></span>
                        <span class="nav-text">mvp</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="file-upload">
                        <span class="icon icon-bind"></span>
                        <span class="nav-text">Upload</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="login">
                        <span class="icon icon-logout"></span>
                        <span class="nav-text">Log In</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</aside>