<aside class="d-flex h-100">
    <div class="project">

        <label for="primaryNav">
            <span class="icon icon-grid"></span>
        </label>
        <a class="d-flex flex-grow-1 content-center align-items-center title" href="#">
            <h2 class="nav-text">Menu</h2>
        </a>

    </div>
    <!-- Profile -->
    <section class="nav-menu">
        <div class="d-flex align-items-center figure">
            <img src="assets/img/photo_2022-02-17_00-31-37.jpg" alt="Profile Picture">
            <div class="d-flex content-center flex-col nav-text legend">
                <span><b>Mrunal</b></span>
                <p>mrunalpatel@1rivet.com</p>
            </div>
        </div>
        <nav class="overflow-vertical" id="sidebarMenu">
            <ul class="nav-1 sidebarMenu ps-0">
                <li>
                    <a class="d-flex align-items-center" routerLink="userform/viewform">
                        <span class="icon icon-compare_arrows"></span>
                        <span class="nav-text">Assessment</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="users/users-list">
                        <span class="icon icon-dot-circle-o"></span>
                        <span class="nav-text">Users</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="/viewer">
                        <span class="icon icon-calendar"></span>
                        <span class="nav-text">Resume Builder</span>
                    </a>
                </li>
            </ul>
            <ul class="nav-2 sidebarMenu ps-0">
                <li>
                    <a class="d-flex align-items-center" routerLink="trial/trial">
                        <span class="icon icon-user"></span>
                        <span class="nav-text">Trial</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="todo">
                        <span class="icon icon-question"></span>
                        <span class="nav-text">Drag & Drop</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" routerLink="mentor">
                        <span class="icon icon-cart"></span>
                        <span class="nav-text">Mentors</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" href="#">
                        <span class="icon icon-shield"></span>
                        <span class="nav-text">Security</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-items-center" href="#">
                        <span class="icon icon-enter"></span>
                        <span class="nav-text">Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</aside>