<aside class="d-flex h-100">
    <div class="polka">
        <a class="d-flex align-items-center title" href="#">
            <span class="icon icon-grid"></span>
            <span><h2>Projects</h2></span>
        </a>
    </div>
    <nav>
        <ul class="nav-1">
            <li>
                <a class="d-flex align-items-center" routerLink="users/users-list">
                    <span class="icon icon-dot-circle-o"></span>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center" routerLink="/resume">
                    <span class="icon icon-calendar"></span>
                    <span>Resume Builder</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center" routerLink="userform/viewform">
                    <span class="icon icon-compare_arrows"></span>
                    <span>Assessment</span>
                </a>
            </li>

        </ul>
        <!-- <ul class="nav-2">
            <li>
                <a class="d-flex align-items-center" href="#">
                    <span class="icon icon-user"></span>
                    <span>Account</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center" href="#">
                    <span class="icon icon-question"></span>
                    <span>FAQ</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center" href="#">
                    <span class="icon icon-cart"></span>
                    <span>Product</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center" href="#">
                    <span class="icon icon-shield"></span>
                    <span>Security</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center" href="#">
                    <span class="icon icon-enter"></span>
                    <span>Sign Out</span>
                </a>
            </li>
        </ul> -->
    </nav>
</aside>