/* Aside */


.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    // flex-direction: column;
    flex-grow: 1;
}

// main {
//     overflow: auto;
//     height: 100%;
// }

/* Nav header*/

.project {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid rgb(233, 232, 232);
    cursor: pointer;
}

.project a {
    color: black;
    font-size: 12px;
    
    &:hover {
        background-color: white;
    }
}



/* Navbar */

nav {
    height: 100%;
    text-align: center;
    color: rgb(116, 116, 116);
    flex-grow: 1;
    // overflow: auto;
    // padding: 0 20px;
}

ul {
    list-style: none;
    text-align: left;
}

nav .nav-1 {
    border-bottom: 1px solid rgb(223, 223, 223);
}

// Profile Image
figure img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
figure {
    padding: 16px;
}
legend {
    padding-left: 20px;
}
// ICONS
.icon {
    font-size: 20px;
}

.icon-grid {
    padding-left: 8px;
}


/* Links */

nav a {
    text-decoration: none;
    padding: 8px;
    color: black;
    margin: 0 8px;
}

nav a:hover {
    text-decoration: none;
    color: #0048ff;
    background-color: #eaedfc;
    border-radius: 10px;
}

nav a span {
    padding: 8px;
}

.head {
    display: flex;
    height: 100px;
    flex-grow: 1;
    border: 1px solid #ccc;
}

// .card {
//     background-color: tomato;
//     width: 100%;
//     height: 400px;
//     margin: 1rem;
// }

// #lol:checked ~ aside ul li a span, #lol:checked ~ aside h1{
//     transform: translateX(-150px);
// }
// #lol:checked ~ aside{
//     flex: 0 0 50px;
//     transform: translateX(-150px);
// }
@media (max-width: 390px) {
    aside {
        display: none;
    }
}
@media (max-width: 768px) {
    aside {
        display: none;
    }
}