<div class=".content-wrapper d-flex body h-100">
    <div class="list-container h-100">
        <header class="d-flex flex-col ">
            <div class="head"><h1>Users</h1></div>
            <div class="w-100 d-flex space-between">
                <div class="search-box align-items-center d-flex">
                    <span class="icon icon-search1"></span>
                    <input type="text" class="search-text" placeholder="Search for Users" [(ngModel)]="searchText">
                </div>
                <button class="btn-add" type="button" (click)="navigateToForm() ">+ Add</button>
            </div>
        </header>
        <div class="table">
            <table>
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Gender</th>
                    <th>Contact No</th>
                    <th>DOE</th>
                    <th>Department</th>
                    <th class="action">Action</th>
                </tr>
                <tr *ngFor="let user of userData | search:searchText as result ; let i=index">
        
                    <th class="sr-no" scope="row">{{i+1}}</th>
                    <td>{{user.firstName+" "+user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.contact}}</td>
                    <td>{{user.date | date: 'MM/dd/yyyy'}}</td>
                    <td>{{user.department}}</td>
                    <td class="d-flex content-center" >
                        <a routerLink="/users/edit/{{user.id}}">Edit
                    </a>
                        <button class="button" (click)="deleteUser(user.id)">Delete</button>
                    </td>
        
        
                    <td *ngIf="result.length === 0">no result found</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- ,*ngIf="( userData | search:searchText) as result" -->
</div>