<p>list works!</p>
<table>
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Contact No</th>
        <th>Gender</th>
        <th>DOE</th>
        <th>Department</th>
        <th>Action</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<button type="button" (click)="navigateToForm()">add</button>
<!-- <button routerLink="../users-form">add</button> -->
<!-- <button (click)="getData()" >Get Data</button> -->