.form {
    display: flex;
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gender {
    display: flex;
    flex-direction: row;
}

.input-form {
    width: 600px;
}

.input-form .text-box {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(184, 184, 184);
}

// Buttons
.btn-section {
    display: flex;
    justify-content: center;
}

.btn-add {
    color: #64a2fe;
    border: 1px solid #62a1fe;
}

.btn-remove {
    color: red;
    border: 1px solid red;
}

.btn-add,
.btn-remove {
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}