.btn-add {
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #64a2fe;
    border: 1px solid #62a1fe;
}
// Main 
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-form {
    width: 600px;
}

.input-form .text-box {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(184, 184, 184);
}
