<button><a routerLink="../viewer" >Resumes</a></button>
<form [formGroup]="resumeForm">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter full name" formControlName="name">

    </div>
    <div>
        <label for="designation">Designation</label>
        <input type="text" id="designation" formControlName="designation">

    </div>
    <div>
        <label for="profile">Profile</label>
        <input type="text" id="profile" formControlName="profile">
    </div>
    <div>
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="xyz@zyx.com" formControlName="email">
    </div>
    <div formArrayName="skills">
        <label for="skills">Skills</label>
        <ng-container *ngFor="let control of skills.controls; let i = index">
            <input type="text" id="skills" formControlName="skills">
            <button (click)="skills.removeAt(i)">Delete</button>
        </ng-container>
        <button (click)="addSkills()"><i>+</i> Add Skills</button>
    </div>
    <div>
        <label for="experience">Experience</label>
        <input type="text">
    </div>
    <div>
        <label for="education">Education</label>
        <ng-container *ngFor="let control of education.controls; let i = index">
            <input type="text" id="experience" formControlName="experience">
            <button (click)="education.removeAt(i)">Delete</button>
        </ng-container>
        <button (click)="addEducation()"><i>+</i>Add Education</button>
    </div>
    <div>
        <label for="contact">Contact No:</label>
        <input type="tel" id="contact" formControlName="contact">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>