<div class="p-5">
  <div class="progress">
    <div class="progress-bar" [style.width]="barwidth + '%'"></div>
  </div>
  <div class="pt-3">
    <div *ngIf="!show" id="1" class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div *ngIf="show" id="2" class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="pt-3">
      <button (click)="previous()" class="btn btn-primary me-2"><a href="#1"></a>Previous</button>
      <button (click)="next()" class="btn btn-primary ms-2"><a href="#2"></a>Next</button>
    </div>
  </div>
</div>