<div class="container-fluid">
    <div class="py-3" (delete)="($event)">
        <h1>
            List of USERS
        </h1>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" routerLink="../add">Add User</button>
            <button class="btn btn-primary" (click)="filter()">Filter</button>
        </div>
        
        </div>
        
        <table class="table caption-top border">
            <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <tr class="align-middle" *ngFor="let item of newList, let i = index">
                      <td class="col">{{ i + 1}}</td>
                      <td class="col">{{item.name}}</td>
                      <td class="col">{{item.age}}</td>
                      <td class="col">{{item.gender}}</td>
                      <td class="col">
                          <button class="btn btn-primary" (click)="onEdit(item.id)">Edit</button>
                          <button class="btn border-danger ms-2" (click)="onDelete(item.id)"><span class="text-danger ">Delete</span></button>
                      </td>
                  </tr>
              </tbody>
        </table>
        <app-pagination [items]="mvpclientlist" [itemsPerPage]="8" (changePage)="changePage($event)" class="d-flex justify-content-center align-items-center"></app-pagination>
</div>