<div class="container-fluid p-2">
    <h1>
        {{mode}}
    </h1>
    <form [formGroup]="mvpForm" (ngSubmit)="onSubmit()">
        <legend>
            <h2>FORM :&nbsp;&nbsp; </h2>
        </legend><br>
            <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                /></div> <br>
    
    
            <div class="form-group">
                <label for="age">Age : &nbsp;</label>
                <input
                    type="number"
                    formControlName="age"
                    id="age"
                    class="form-control"
                    ></div><br>
            
    
            <div>
                <label for="gender">Gender :&nbsp; &nbsp; </label>
                <input type="radio" formControlName="gender" id="male" name="gender" value="male">
                <label for="male">Male &nbsp; </label>
                <input type="radio" formControlName="gender" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
            </div><br>
    
    
            <button type="submit" class="btn button">Submit</button>
            <button type="reset" class="btn button">Reset</button>
          
    </form>
</div>