/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    font-size: 15px;
    overflow: hidden;
}

.h-100 {
    height: 100%;
}
.w-100 {
width: 100%;
}
.p-20 {
    padding: 20px;
}
.pl-20 {
    padding-left: 20px;
}
.pr-20 {
    padding-right: 20px;
}

.overflow-auto {
    overflow: auto;
}

// FLEX properties

.d-flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
.content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}

.overflow-vertical {
    overflow-y: auto;
    overflow-x: hidden;
}


a {
    text-decoration: none;
}

// Sidebar
aside {
    background-color: white;
    flex-direction: column;
    // flex: 0 0 300px;
    width: 270px;
    box-shadow: 0 -0.1px 5px rgb(214, 214, 214) inset;
    transition: .4s all;
    overflow-x: hidden;

    .nav-text {
        white-space: nowrap;
        transform: translateX(0);
        transition: .4s all;
    }
}

#primaryNav {
    display: none;
    &:checked {
        &+app-sidebar {
            aside {
                width: 70px;
            }

            .nav-text {
                transform: translateX(100%);
            }
            // transform: translateX(-100%);
        }
    }
}

// Media Queries
//Tablets
@media (max-width: 1100px) {
    #primaryNav {
        display: none;
        &:checked {
            &+app-sidebar {
                aside {
                    width: 0;
                }
    
                .nav-text {
                    transform: translateX(100%);
                }
                // transform: translateX(-100%);
            }
        }
    }
}